<zeo>
    address localhost:9999
    transaction-timeout 120
</zeo>

<blobstorage>
    blob-dir ./local.persistent/blobs/
    <filestorage 1>
        path ./local.persistent/Data.fs
    </filestorage>
</blobstorage>

<eventlog>
    level DEBUG
    <logfile>
        path STDOUT
        format %(asctime)s %(levelname)s %(message)s
    </logfile>
</eventlog>
