<zeo>
    address localhost:9999
</zeo>


<filestorage>
    path ./local.persistent/Data.fs
</filestorage>

<eventlog>
    level DEBUG
    <logfile>
        path STDOUT
        format %(asctime)s %(levelname)s %(message)s
    </logfile>
    <logfile>
        path ./local.persistent/logs/zeo.log
        dateformat %Y-%m-%d %H:%M:%S
        format %(asctime)s.%(msecs)03d %(levelname)s [%(name)s] [procId:%(process)d/threadId:%(thread)d] - %(message)s
    </logfile>
</eventlog>
